@font-face{
    font-family: 'CAT North Shadow';
    src: url('/htmlAI/CAT\ North\ Shadow.ttf');
    src: url('/htmlAI/CAT\ North\ Shadow.eot?#iefix') format('embedded-opentype'),
         url('/htmlAI/CAT\ North\ Shadow.woff') format('woff'),
         url('/htmlAI/CAT\ North\ Shadow.ttf') format('truetype'),
         url('/htmlAI/CAT\ North\ Shadow.svg#rsuregular') format('svg');
}

#iSee{
    padding: 15px;
    text-align: center;
    font-size: 120px;
    font-family: 'CAT North Shadow'; 
    letter-spacing: 5px;
    color:#3EB4DA; 
    -webkit-text-stroke: 2px;
    -webkit-text-stroke-color: black;
    
}

label{
    text-align:center;
    border:2px solid black;
    padding: 10px;
    display: table;
    left: 44%;
    position: absolute;
    width: 10%;
    top: 40%;

    cursor: pointer;
    transition: all 0.25s ease;
}

input[type="file"]{
    display: none;
}

body{
    background-size: 450px 150px;
    background-position: 5% 5%;
    background-repeat: no-repeat;
}